{% extends 'UserApi/base.html' %}
{% load staticfiles %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        {% if user_type == "true" %}
        <a class="btn btn-default login-btn" href="code_view"> Generate Code</a><br>
        <a class="btn btn-default login-btn" href="generate_csv"> Create CSV</a><br>
        {% endif %}
    </head>
    <body>
    {% for list in code_list %}
            <div class="card">
                <h1>{{ list.code }}</h1>
                <h1>{{ list.count }}</h1>
                <h1>{{ list.status }}</h1>
            </div>

    {% endfor %}
    </body>
    </html>
{% endblock %}